<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier l'article</title>
    <link rel="stylesheet" href="../static/edit.css">

</head>
<body>
<header class="Sekaly">
    <h1>Modifier l'article</h1>
    <form method="post">
        <label for="title">Titre:</label>
        <input type="text" name="title" id="title" value="{{ post.title }}" required>
        <label for="content">Contenu:</label>
        <textarea name="content" id="content" rows="10" required>{{ post.content }}</textarea><br>
        <button type="submit">Mettre à jour</button>
    </form><br>
    <a href="{{ url_for('index', post_id=post.id) }}">Retour à l'article</a>
</header>

</body>
</html>
