<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Déconnexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Déconnexion réussie</h1>
    <p>Vous avez été déconnecté avec succès. Vous allez être redirigé vers la page d'accueil.</p>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('index') }}";
        }, 2000); // Redirection après 2 secondes
    </script>
</body>
</html>
