<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>

    <header class="Sekaly">

        <h1>Inscription</h1>
        <form method="post">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" name="username" id="username" required>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Mot de passe:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">S'inscrire</button>
        </form>
        <p>Vous avez déjà un compte? <a href="{{ url_for('login') }}"> <br> <br> Connectez-vous ici</a></p>

    </header>

</body>
</html>
